{
  "presets": ["module:metro-react-native-babel-preset"],
  "env": {
    "production": {
      "plugins": ["ignite-ignore-reactotron"]
    },
    "development": {
      "plugins": [["transform-es2015-modules-commonjs", { "strict": false }]]
    },
    "test": {
      "plugins": [["transform-es2015-modules-commonjs", { "strict": false }]]
    }
  }
}
