SEEDORF_REST_URL=https://sportyspots.com/api
SEEDORF_GRAPHQL_URL=https://sportyspots.com/graphql
USE_FIXTURES=YES
GOOGLE_MAPS_API_KEY=12345

# For Genymotion
#SEEDORF_REST_URL=http://10.0.3.2:8000/api
#SEEDORF_GRAPHQL_URL=http://10.0.3.2:8000/graphql

# For Android Studio AVD
#SEEDORF_REST_URL=http://10.0.2.2:8000/api
#SEEDORF_GRAPHQL_URL=http://10.0.2.2:8000/graphql
