{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "jest": true
  },
  "rules": {
    "global-require": 0,
    "no-restricted-syntax": ["error", "LabeledStatement", "WithStatement"],
    "react/jsx-filename-extension": 0,
    "react/no-did-mount-set-state": 0,
    "react/sort-comp": 0,
    "function-paren-newline": ["error", "consistent"],
    "no-console": 0,
  },
  "globals": {
    "__DEV__": true,
    "navigator": true
  }
}
