{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "global-require": 0,
    "import/prefer-default-export": 0,
    "import/no-named-as-default-member": 0,
    "no-named-as-default": 0,
    "no-restricted-syntax": ["error", "LabeledStatement", "WithStatement"],
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/no-did-mount-set-state": 0,
    "react/no-multi-comp": 0,
    "react/require-default-props": 0,
    "react/sort-comp": 0,
    "function-paren-newline": ["error", "consistent"],
    "no-console": 0,
    "prefer-destructuring": 0
  },
  "globals": {
    "__DEV__": true,
    "navigator": true
  }
}
